div.Game {
  padding-top: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div.Chat {
  padding-bottom: 10px;
}

div.ClueForm {
  padding-top: 10px;
}

div.chat-box {
  min-height: 225px;
}

div.ui.segment.messages-window {
  height: 200px;
  overflow-y: scroll;
}

span.message-username {
  font-weight: bold;
  font-style: italic;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
}

span.message-text {
  padding-left: 5px;
}

span.message-username.blue {
  background-color: rgba(41, 134, 206, 0.15);
}

span.message-username.red {
  background-color: rgba(217, 43, 48, 0.15);
}

div.board {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  margin-top: 5%;
  padding-bottom: 2px;
}

div.cell {
  padding: 1.25vmin;
  transition: background-color 1s ease-out;
  border-radius: 4px;
}

div.ui.card.word-card {
  background-color: #ffefce;
  min-height: 12vh;
  max-height: 14vh;
}

div.ui.card.word-card div.content {
  padding-left: 7%;
  padding-right: 7%;
  height: 9.5vh;
}

.content .word {
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  font-weight: bold;
  /*font-size: 1.75vw;*/
  width: 100%;
  height: 100%;
  padding: 7%;
  margin-top: 7%;
  display: block;
}

.content .revealed-word {
  background-color: rgb(225, 230, 230);
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.75vw;
  width: 100%;
  height: 100%;
  padding: 3%;
  display: block;
}

div.ui.card.word-card.red_spy {
  transition: background-color 0.5s ease;
  background-color: rgba(217, 43, 48, 0.85);
}

div.ui.card.word-card.blue_spy {
  transition: background-color 0.5s ease;
  background-color: rgba(41, 134, 206, 0.85);
}

div.ui.card.word-card.assassin {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0.85);
}

span.shrug {
  font-size: 2vh;
}

.cell.updated {
  transition: background-color 0.75s ease;
  border-radius: 4px;
  background-color: #aaaa;
}

.cell.updated.red_spy {
  transition: background-color 0.75s ease;
  border-radius: 4px;
  background-color: rgba(217, 43, 48, 0.5);
}

.cell.updated.blue_spy {
  transition: background-color 0.75s ease;
  border-radius: 4px;
  background-color: rgba(41, 134, 206, 0.5);
}

.cell.updated.assassin {
  transition: background-color 0.75s ease;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

span.codename {
  font-size: 125%;
}
